* {   box-sizing: border-box; } 

html{
  padding:0;
  margin:0;
  font-family: 'Raleway';
}

body{
display:flex;
flex-direction:row;
width: 100%;
}

#map{
  display: flex;
  height: 100%;
  flex-basis: 80%;
  width: 100%;
  z-index: 0;
  position: absolute;
}

#sidebar{
  position: fixed;
  width: 40%;
  height: 100%;
  left: -40%;
  transition: all 500ms linear;
  flex-basis: 20%;
  z-index: 1;
}

#sidebar h1{
  text-align: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
}
 
#sidebar.active{
  left:0px;
}

#sidebar .toggle-btn span:first-child{
  width: 30px;
  height: 5px;
  transform: rotate(45deg);
  z-index: 1;
}

#sidebar .toggle-btn span{
  background-color:black;
  display: table;
  margin-top: 70%;
}

#sidebar .toggle-btn span:last-child{
  width: 30px;
  height: 5px;
  margin-top: 14px;
  transform: rotate(135deg);
  z-index: 1;
}

#circle {
  height: 90px;
  width: 46px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  background-color: white;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -55px;
  z-index: 2;
}

#circle:hover{
  cursor: pointer;
}

#sidebar .toggle-btn:hover{
  cursor: pointer;
}

#searchBar{
  margin-top: 0%;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  bottom: 0;
  background-color: #0D3B66;
  color: #fff;
}

#searchBar h2{
  margin-top: 0;
  padding-left: 4px;
  margin-bottom: 0;
}

#searchResults{
  height: 56%;
  background-color: #F4D45E;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#searchResults h2{
  margin: 4px;
}

#histogram{
  bottom: 0;
  top: 68%;
  position: absolute;
  height: auto;
  width: 100%;
  background-color: #F95738;
}

#histogram h2{
  margin: 4px;
}

input[type=search] {
    height: 35px;
    width: 28.3%;
    margin-left: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 97%;
}
